doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js')
    script(src="javascripts/app.js")
    script(src="javascripts/controllers/reviews.js")
    script(src="javascripts/controllers/login.js")
    script(src="javascripts/controllers/register.js")
    script(src="javascripts/services/auth.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js")
  body(ng-app="beerJournalApp")
    #titleBar
      a#logout(href="user/logout")="logout"
      #username=username + " | "
      #title= title
      #description= description
    #contentContainer
      block content
